@font-face {
  font-family: "Jost";
  src: url("../../public/Jost-Regular.ttf");
}

@font-face {
  font-family: "Jost-Light";
  src: url("../../public/Jost-Light.ttf");
}

* {
  font-family: 'Jost', 'Jost-Light', sans-serif;
  transition: all .15s ease-in-out;
  outline: 0;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}
